* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px; /* creates scrolling */
  background: #111;
  overflow-x: hidden;
}

.world {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.character {
  position: absolute;
  bottom: 100px;
  left: 50px;

  width: 80px;
  height: 80px;

  background: tomato;
  border-radius: 50%;

  transition: transform 0.05s linear;
}
